<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit profile</h3>
</div>
<div class="modal-body" id="modal-body">
           
    <form name="userEditForm">
        <div class="form-group">
                         
            <label for="userEmail">first name</label>
            <input type="text" class="form-control" id="userFirstName" placeholder="Your First Name" ng-model="$ctrl.profile.first_name">
        </div>
        <div class="form-group">
       <label for="userName">last name</label>
            <input type="text" class="form-control" id="userId" placeholder="Your Last Name" ng-model="$ctrl.profile.last_name">
        </div>
        <div class="form-group">
            <label for="userEmail">city</label>
            <input type="text" class="form-control" id="userFirstName" placeholder="Your City" ng-model="$ctrl.profile.city">
        </div>
        <div class="form-group">
            <label for="userName">country</label>
            <input type="text" class="form-control" id="userLastName" placeholder="Your Country" ng-model="$ctrl.profile.country">
        </div>
        <div class="form-group">
            <label for="userAge">gender</label>
            <input type="text" class="form-control" id="userAge" placeholder="Your Gender" ng-model="$ctrl.profile.gender">
        </div>
         <div class="form-group">
            <label for="userAge">bio</label>
            <input type="text" class="form-control" id="userAge" placeholder="Your Bio" ng-model="$ctrl.profile.bio">
        </div>
       
        
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>