
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Location</h3>
</div>
<leaflet lf-center="center" height="440px" width="640px" markers="$ctrl.markers" center="$ctrl.osloCenter"></leaflet>
<div class="modal-body" id="modal-body">
    <div>From : Romha</div>
    <div>To : 911</div>
    <div>Date : 20/05/2017<div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>