
 <div class="col-lg-12 main-chart">
    <h1 class="page-title">Latest Locations</h1>
      <div class="panel-body">
                           
        <div class="table-responsive">
          <table class="table table-striped" datatable="ng">
              <leaflet lf-center="center" height="440px" width="940px" markers="$ctrl.markers" center="$ctrl.osloCenter"></leaflet>
              <!--<thead>
                <tr>
  
                  <td>ID</td>
                  <td>Name</td>
                  <td>Pasword</td>
                  <td>Email</td>
                  <td>Full Name</td>
                  <td>Mobile</td>
                  <td>Name</td>
                

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in $ctrl.users">
                  <td>{{user.BaseUser.UserId}}</td>
                  <td>{{user.BaseUser.UserName}}</td>
                  <td>{{user.BaseUser.UserPassword}}</td>
                 <td>{{user.BaseUser.UserEmail}}</td>
                 <td>{{user.BaseUser.UserFullName}}</td>
                 <td>{{user.BaseUser.UserMobile}}</td>
                
                  <td>
                      <button class="btn btn-info glyphicon glyphicon-eye-open" ng-click="$ctrl.view('md',user._id)"></button>
                     
                  </td>
                </tr>
              </tbody>-->

        </table>
     </div>
  </div>
</div>

